{% extends 'home/base.html' %}
{% load static %}

{% block title %}The Home Page{% endblock title %}
 
 {% block content %}

 <div class="pricing-header p-3 pb-md-4 mx-auto text-center">



      <img src="{% static 'image/redvelvetimage.jpg' %}"width='300'><br><br>



     <h1 class="display-4 fw-normal">Red Velvet</h1>
      <p class="fs-5 text-muted">Red Velvet became queens of the K-pop scene in the second half of the 2010s, but the quintet set themselves apart from the South Korean "girl group" pack by establishing a diverse musical menu. Their very name was intended to underline their eclecticism, with "Red" representing their upbeat, poppy side and "Velvet" standing for their slower, more soulful sounds</p>
      
    </div>

 {% endblock content %}




